body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
}

h3 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
}

p {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}

.seccion {
    margin-bottom: 40px;
}

.seccion-titulo {
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px;
}

.seccion-contenido {
    margin-left: 30px;
}

.seccion-contenido p {
    margin-bottom: 10px;
}

.skill {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
    background-color: #f4f4f4;
    border-radius: 5px;
}

